script(src='https://cdn.jsdelivr.net/npm/dayjs@1.11.7/dayjs.min.js')

doctype html
html(lang="en")
  head
    title Full Top 10
    link(href='/styles/app.css' rel='stylesheet' type='text/css')
    link(href='/modules/dragula/dist/dragula.css' rel='stylesheet' type='text/css')
    link(href="/modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet")
    link(href="/modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet")
    style.
      #songqueue {
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
      }
      #songqueue td, #songqueue th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      #songqueue th {
        background-color: #f2f2f2;
        color: black;
      }

  body
    h1 Full Top 10 for #{formStartDate} to #{formEndDate}

    ul
    li
        a(href=`http://141.147.86.68:8585/fullTop10?startDate=${dayjs(formStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}&endDate=${dayjs(formEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}`) Full Top 10 Lists
    li
        a(href=`http://141.147.86.68:8585/likesTop10?startDate=${dayjs(formStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}&endDate=${dayjs(formEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}`) Top 10 (Likes Only)
    li
        a(href=`http://141.147.86.68:8585/mostplayedartists?startDate=${dayjs(formStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}&endDate=${dayjs(formEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}`) Most Played Artists
    li
        a(href=`http://141.147.86.68:8585/mostplayedtracks?startDate=${dayjs(formStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}&endDate=${dayjs(formEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}`) Most Played Tracks
    li
        a(href=`http://141.147.86.68:8585/summary?startDate=${dayjs(formStartDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}&endDate=${dayjs(formEndDate, 'DD/MM/YYYY').format('YYYY-MM-DD')}`) Room Summary & Top DJs

    form(action='/fulltop10' method='GET')
        label(for='startDate') Start Date:
        input#startDate(type='date' name='startDate' value=formStartDate)
        label(for='endDate') End Date:
        input#endDate(type='date' name='endDate' value=formEndDate)
        input(type='submit' value='Update')

    table#songqueue
        thead
            tr
                th Artist
                th Track
                td Total Points
                th Play Count
        tbody
        each song in top10SongList
            tr
            td= song.artist
            td= song.track
            td= song.points
            td= song.plays

    h2 Not including Wednesdays (less 90s)

    table#songqueue
        thead
            tr
                th Artist
                th Track
                td Total Points
                th Play Count
        tbody
        each song in top10NotWednesdaySongList
            tr
            td= song.artist
            td= song.track
            td= song.points
            td= song.plays