doctype html
html(lang="en")
    head
        title List of unverified songs from Robo's DB
        link(href='/styles/app.css' rel='stylesheet' type='text/css')
        link(href='/modules/dragula/dist/dragula.css' rel='stylesheet' type='text/css')
        link(href="/modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet")
        link(href="/modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet")
        style.
            #songqueue {
                border-collapse: collapse;
                border: 1px solid #ddd;
                width: 100%;
            }

            #songqueue td, #songqueue th {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            #songqueue th {
                background-color: #f2f2f2;
                color: black;
            }

    body
    h1 Current list of unverified songs from Robo's DB
    table
        tbody
            tr
            td
                form(action='/listunverified' method='GET')
                    label
                        input(type='radio' name='sort' value='time' checked=sort === 'time')
                        | By Recent
                    label
                        input(type='radio' name='sort' value='artist' checked=sort === 'artist')
                        | By Artist
                    label
                        input(type='radio' name='sort' value='track' checked=sort === 'track')
                        | By Track
                    button(type='submit') Get tracks
            tr
            td
                form(action='/listunverified' method='GET')
                    label
                        input(type='radio' name='sort' value='time' checked=sort === 'time')
                        | By Recent
                    label
                        input(type='radio' name='sort' value='artist' checked=sort === 'artist')
                        | By Artist
                    label
                        input(type='radio' name='sort' value='track' checked=sort === 'track')
                        | By Track
                    input(type='hidden' name='where' value="track")
                    input(type='text' name='searchTerm' value='searchTerm')
                    button(type='submit') Search by Track
            tr
            td
                form(action='/listunverified' method='GET')
                    label
                        input(type='radio' name='sort' value='time' checked=sort === 'time')
                        | By Recent
                    label
                        input(type='radio' name='sort' value='artist' checked=sort === 'artist')
                        | By Artist
                    label
                        input(type='radio' name='sort' value='track' checked=sort === 'track')
                        | By Track
                    input(type='hidden' name='where' value="artist")
                    input(type='text' name='searchTerm' value='searchTerm')
                    button(type='submit') Search by Artist

    table#songqueue
        thead
            tr
                th trackPlayedID
                th artistID
                th artistName
                td artistDisplayName
                th trackID
                th trackName
                th trackDisplayName
                th length
                th search
        tbody
        each song in songList
            tr
            td= song.trackPlayedID
            td= song.artistID
            td= song.artistName
            td
                if song.artistDisplayName
                    | #{song.artistDisplayName}
                    form(action='/updateArtistDisplayName' method='POST')
                        input(type='hidden' name='reset' value=true)
                        input(type='hidden' name='sort' value=sort)
                        input(type='hidden' name='where' value=where)
                        input(type='hidden' name='artistID' value=song.artistID)
                        button(type='submit') Reset
                else
                    form(action='/updateArtistDisplayName' method='POST')
                        input(type='text' name='artistDisplayName', value=song.artistName)
                        input(type='hidden' name='sort' value=sort)
                        input(type='hidden' name='where' value=where)
                        input(type='hidden' name='artistID' value=song.artistID)
                        button(type='submit') Update Artist
                form(action='/splitArtistName' method='POST')
                    input(type='hidden' name='artistName', value=song.artistName)
                    input(type='hidden' name='sort' value=sort)
                    input(type='hidden' name='where' value=where)
                    input(type='hidden' name='trackPlayedID' value=song.trackPlayedID)
                    button(type='submit') Split Artist

            td= song.trackID
            td= song.trackName
            td
                if song.trackDisplayName
                    | #{song.trackDisplayName}
                    form(action='/updateTrackDisplayName' method='POST')
                        input(type='hidden' name='reset' value=true)
                        input(type='hidden' name='sort' value=sort)
                        input(type='hidden' name='where' value=where)
                        input(type='hidden' name='trackID' value=song.trackID)
                        button(type='submit') Reset
                else
                    form(action='/updateTrackDisplayName' method='POST')
                        input(type='text' name='trackDisplayName', value=song.trackName)
                        input(type='hidden' name='sort' value=sort)
                        input(type='hidden' name='where' value=where)
                        input(type='hidden' name='trackID' value=song.trackID)
                        button(type='submit') Update Track Name
                form(action='/splitTrackName' method='POST')
                    input(type='hidden' name='trackName', value=song.trackName)
                    input(type='hidden' name='sort' value=sort)
                    input(type='hidden' name='where' value=where)
                    input(type='hidden' name='trackPlayedID' value=song.trackPlayedID)
                    button(type='submit') Split Track Name
            td= song.length
            td
                a(href=`https://www.google.com/search?q=${ encodeURIComponent( song.artistName ) }%20${ encodeURIComponent( song.trackName ) }`, target="_blank") Search