doctype html
html(lang="en")
  head
    title List of unverified songs from Robo's DB
    link(href='/styles/app.css' rel='stylesheet' type='text/css')
    link(href='/modules/dragula/dist/dragula.css' rel='stylesheet' type='text/css')
    link(href="/modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet")
    link(href="/modules/@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet")
    style.
      #songqueue {
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
      }
      #songqueue td, #songqueue th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      #songqueue th {
        background-color: #f2f2f2;
        color: black;
      }

  body
    h1 Current list of unverified songs from Robo's DB

    table#songqueue
        thead
            tr
                th artistID
                th artistName
                td artistDisplayName
                th trackID
                th trackName
                th trackDisplayName
                td trackDisplayName
                th length
        tbody
        each song in songList
            tr
            td= song.artistID
            td= song.artistName
            td
                if song.artistDisplayName
                    | #{song.artistDisplayName}
                else
                    form(action='/updateArtistDisplayName' method='POST')
                        input(type='text' name='artistDisplayName')
                        input(type='hidden' name='artistID' value=song.artistID)
                        button(type='submit') Update
            td= song.trackID
            td= song.trackName
            td
                if song.trackDisplayName
                    | #{song.trackDisplayName}
                else
                    form(action='/updateTrackDisplayName' method='POST')
                        input(type='text' name='trackDisplayName')
                        input(type='hidden' name='trackID' value=song.trackID)
                        button(type='submit') Update
            td= song.length